<!--<p>proyectos-list works!</p>-->
<div class="container">
    <table class="table">
        <thead>
            <th class="col">ID</th>
            <th class="col">Nombre</th>
            <th class="col">Descripción</th>
            <th class="col">Fecha Inicio</th>
            <th class="col">Fecha Fin</th>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td>{{proyecto.id}}</td>
                <td>{{proyecto.nombre}}</td>
                <td>{{proyecto.descripcion}}</td>
                <td>{{proyecto.fechaInicio | date}}</td>
                <td>{{proyecto.fechaEntrega}}</td>
            </tr>
        </tbody>
    </table>
</div>
