<!--<p>proyectos-list works!</p>-->
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha fin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td>{{proyecto.id}}</td>
                <td><a [routerLink]="proyecto.id">{{proyecto.nombre}}</a></td>
                <td>{{proyecto.descripcion}}</td>
                <td>{{proyecto.fechaInicio | date:'dd/MM/yyyy'}}</td>
                <td>{{proyecto.fechaEntrega | date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

    <a routerLink="_nuevo" class="btn btn-primary">Añadir proyecto</a>
</div>
